/* @import "tailwindcss"; */@import url('https://fonts.googleapis.com/css2?family=Actor&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
.roboto {

  font-family: "Roboto Flex", serif;
  
}

.actor-regular {
  font-family: "Actor", serif;
  font-weight: 400;
  font-style: normal;
}